.container {
  background-color: #0D0A0B;
  margin: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.heading,
.addExperience {
  margin-bottom: .75rem;
}

svg {
  color: #D33F49;
  font-size: 2.5rem;
}

.heading h1 {
  color: #FFF;
  display: inline;
  margin-left: .75rem;
  font-family: "Just Another Hand", sans-serif;
  font-size: 3rem;
}

.addExperience h1{
  color: #FFF;
  display: inline;
  font-family: "Just Another Hand", sans-serif;
  font-size: 3rem;
}

.container input, 
.container textarea {
  width: 100%;
  margin-top: .75rem;
  padding: .5rem;
  background-color: #75757548;
  border: none;
  border-radius: .5rem;
  caret-color: #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

.container input:focus, 
.container textarea:focus,
.container input:hover, 
.container textarea:hover,
.skillList span:hover {
  opacity: .8;
}

.container input:focus, 
.container textarea:focus {
  outline: none;
}

.doubleInput {
  display: flex;
  gap: .75rem;
}

.container textarea {
  resize: none;
}

.skillList li {
  margin-top: .75rem;
  list-style-type: none;
  display: flex;
}

.skillList span {
  flex-grow: 1;
  padding: .5rem;
  background-color: #75757548;
  border-radius: .5rem;
  font-family: "Roboto", sans-serif;
  color: #808080;
}

.skillList svg {
  font-size: 1.1rem;
  color: #FFF;
  padding: .5rem;
}


.skillList svg:hover {
  cursor: pointer;
}

.button {
  background: #75757548;
  color: #D33F49;
  border: none;
  border-radius: .5rem;
  padding: .2rem 2.5rem;
  margin-top: .75rem;
  font-size: 1rem;
  transition: background 1s ease, color 1s ease;
}

.button:hover {
  background: #D33F49;
  color: #0D0A0B;
  cursor: pointer;
}


@media (min-width: 425px) {
  .container input, 
  .container textarea {
    font-size: 1rem;
  }

  .button {
    font-size: 1.25rem;
  }
}

@media (min-width: 600px) {
  .container input, 
  .container textarea {
    font-size: 1.3125rem;
  }
}

@media (min-width: 700px) {
  .container input, 
  .container textarea {
    font-size: 1rem;
  }
}

@media (min-width: 925px) {
  .container input, 
  .container textarea {
    font-size: 1.3125rem;
  }

  .button {
    font-size: 1.5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
}
