.container {
  background-color: #0D0A0B;
  margin: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.heading {
  margin-bottom: .75rem;
}

svg {
  color: #81A4CD;
  font-size: 2.5rem;
}

.heading h1 {
  color: #FFF;
  display: inline;
  margin-left: .75rem;
  font-family: "Just Another Hand", sans-serif;
  font-size: 3rem;
}

.container input, .container textarea {
  width: 100%;
  margin-top: .75rem;
  padding: .5rem;
  background-color: #75757548;
  border: none;
  border-radius: .5rem;
  caret-color: #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

.container input:focus, .container textarea:focus {
  outline: none;
  opacity: .8;
}

.doubleInput {
  display: flex;
  gap: .75rem;
}

.container textarea {
  resize: none;
}

@media (min-width: 425px) {
  .container input, .container textarea {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .container input, .container textarea {
    font-size: 1.3125rem;
  }
}

@media (min-width: 700px) {
  .container input, .container textarea {
    font-size: 1rem;
  }
}

@media (min-width: 925px) {
  .container input, .container textarea {
    font-size: 1.3125rem;
  }
}
