*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CV {
  margin: 1.25rem;
  font-family: "Roboto", sans-serif;
  min-width: 50%;
  background: #DBE4EE;
}

.info {
  background-color: #0D0A0B;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.name {
  padding: .65rem 0;
}

.name h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: .75rem;
  color: #FFF;
}

.name p {
  margin-top: 1rem;
  color: #fff;
  font-size: .5rem;
}

.contactInfo {
  background: #81A4CD;
  padding: .65rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.contactInfo > * {
  font-size: .5rem;
}

.bold {
  font-weight: bolder;
}

a:visited {
  color: rgb(0, 0, 238);
}

.aboutMe {
  padding: 1.5rem;
}

.aboutMe h1 {
  color: #3E7CB1;
  font-weight: bolder;
  margin-bottom: .5rem;
  font-size: .75rem;
}

.aboutMe span {
  color: #000;
}

hr {
  margin-bottom: .5rem;
  border: 1px solid #000;
}

.aboutMe p {
  font-size: .5rem;
}

@media (min-width: 375px) {
  .name h1, .aboutMe h1 {
    font-size: .9rem;
  }
  
  .name p, .aboutMe p, .contactInfo > * {
    font-size: .65rem;
  }

  .info, .aboutMe {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media (min-width: 525px) {
  .name h1, .aboutMe h1 {
    font-size: 1.5rem;
  }
  
  .name p, .aboutMe p, .contactInfo > * {
    font-size: .75rem;
  }

  .info, .aboutMe {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 700px) {
  #root {
    display: flex;
  }

  .name h1, .aboutMe h1 {
    font-size: 1rem;
  }
  
  .name p, .aboutMe p, .contactInfo > * {
    font-size: .65rem;
  }
}

@media (min-width: 925px) {
  .name h1, .aboutMe h1 {
    font-size: 1.5rem;
  }
  
  .name p, .aboutMe p, .contactInfo > * {
    font-size: .75rem;
  }

  .info, .aboutMe {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}